PORT=4000
CHANNEL_NAME=cartrade-channel
FABRIC_NETWORK_PATH=/absolute/path/to/fabric-samples/test-network
GATEWAY_PEER_PORT=7051

ORG1_ADMIN_ID=admin
ORG1_ADMIN_SECRET=adminpw
ORG2_ADMIN_ID=admin
ORG2_ADMIN_SECRET=adminpw
ORG3_ADMIN_ID=admin
ORG3_ADMIN_SECRET=adminpw
